<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Computacao_Para_Todos/public/Styles/Geral/Footer.css">
</head>
<body>
    <div>
        <div id="LadoDireito">
            <img src="/Computacao_Para_Todos/public/Imagens/Geral/footer.jpg" alt="Imagem de um Robô tocando uma tela" style="width: 100%;">
        </div>
        <div>
            <div id="LadoEsquerdo">
                <span>Nossas Redes</span>
                <p><i class="bi bi-envelope-at mx-1"></i> E-Mail: computacaoparatodos@gmail.com</p>
            </div>
        </div>
        <div id="Rodape">
            <span class="text-white"><b>Desenvolvido por: Lucas Antonio Alves Hrycyk</b></span>
        </div>
    </div>
</body>
</html>